header.masthead {
    text-align: center;
    color: white;
    background-image: url('../img/lol2.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    
  }